section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.gris-color{
  background-color: #F7F7FA;
}

.information{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 5rem;
}

h2{
  color: #2B8494;
  font-size: 2.5rem;
  font-weight: 700; 
}

img{
  width: 350px;
}